#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
}

.s-main-wrapper {
    height: 100vh;
}

.product-box {
    display: flex;
    flex-wrap: wrap;

    width: 100%;
    max-width: 1280px;   

    padding: 20px 0 0;

    &__item {
        flex: 1 1 auto;
        max-width: 300px;
        width: 100%;

        margin: 0 10px 20px;
    }
}